@import "tailwindcss";

@theme {
    --font-sans: "Roboto", sans-serif;
    --font-display: "Josefin Sans", sans-serif;
}

@keyframes shine-sweep {
    0% {
        transform: translateX(150%) skewX(60deg);
    }

    100% {
        transform: translateX(-250%) skewX(60deg);
    }
}